/*------------- CSS RESET -----------------------*/

*{
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1em;
}

body{
  /*width: 75%;
  max-width: 700px;*/
  font-family: 'Arial', sans-serif;
  /*font-family: 'Libre Baskerville', Georgia, Times, 'Times New Roman',serif;*/
  margin: auto;
  background-image: url(../images/grid-40.jpg);
  color: #333;
  line-height: 1.8;
  overflow-x: hidden;
}

body {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

@font-face {
  font-family: 'Helvetica';
  src:url('../fonts/HelveticaNeueLTStd-BdCn.otf') format('opentype');
}

@font-face {
  font-family: 'Courier New';
  src:url('../fonts/cour.ttf') format('truetype');
}

@font-face {
  font-family: 'Courier New Bold';
  src:url('../fonts/Courier New Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Milano Sky';
  src:url('../fonts/MilanoSky-Regular.otf') format('opentype');
}

::-webkit-scrollbar {display:none;}



.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  background-color: #fff;
  color: #444;
}

.box {
  background-image: url(../images/grid-40.jpg);
  color: #fff;
  padding: 20px;
  overflow-y: hidden;

}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.drop-shadow {
    -webkit-box-shadow: inset 0 15px 100px -4px #000;
    -moz-box-shadow: inset 0 15px 100px -4px #000;
    box-shadow: inset 0 15px 100px -4px #000;
}

p {
  color: #58595B;
  font-size: 1.5em;
  font-family: 'Courier New';
  width: 70vw;
  padding-bottom: 2em;
  margin: auto;
  line-height: 1.3em;
}

p.top {
  padding-top: 3em;
}

p.subtitle {
  font-weight: bold;
  width: 50vw;
  margin: 0;
  margin-left: 1em;
  line-height: 1em;
}

blockquote.subtitle {
  padding-top: 1em;
  width: 50vw;
  text-align: center;
}

.a {
  background-image: url(../images/brown.jpg);
}

h1 {
  font-family: 'Helvetica';
  width: 7em;
  font-size: 10em;
  color: #282828;
  mix-blend-mode: ;
  padding-left: .2em;
}

h4 {
  font-family: 'Milano Sky';
  color: #8E191C;
  font-weight: normal;
  font-size: 10em;
  padding-left: .2em;
}

.c {
  /*
  background-image: url(../images/fiordland.jpg);
  */
  padding: 0;
}



h2 {
  font-family: 'Helvetica';
  width: 30vw;
  font-size: 8em;
  color: #E6E7E8;
  padding-left: .3em;
  padding-top: .4em;
  margin: 0;
  float: left;
}

p.heading {
  text-align: left;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.3em;
  padding-top: 2em;
  float: right;
  width: 40vw;
}

.e {
  /*
  background-image: url(../images/bird.jpg);
  background-size: cover;
  */
  padding: 0;
}

h2.bird {
  font-family: 'Helvetica';
  width: 30vw;
  font-size: 8em;
  color: #E6E7E8;
  padding-left: .3em;
  padding-top: .4em;
  margin: 0;
  float: right;
  text-align: right;
}

p.heading-bird {
  text-align: left;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.3em;
  padding-top: 2em;
  margin-left: 1.5em;
  width: 40vw;
  float: left;
}

.g {
  /*
  background-image: url(../images/orbell.jpg);
  */
  padding: 0;
  margin: 0;
}

img.orbell2 {
  width: 100vw;
  padding: 0;
}

h2.orbell {
  font-family: 'Helvetica';
  width: 25vw;
  font-size: 8em;
  color: #E6E7E8;
  padding-left: .3em;
  padding-top: .4em;
  margin: 0;
  float: left;
}


.i {
  background-image: url(../images/brown.jpg);
}

h3 {
  font-family: 'Helvetica';
  width: 50vw;
  font-size: 7em;
  color: #282828;
  mix-blend-mode: ;
  padding-left: .2em;
  padding-bottom: .1em;
}

blockquote {
  font-family: 'Milano Sky';
  color: #94BB73;
  width: 40vw;
  font-size: 6em;
  margin: auto;
}

cite {
  color: #8E191C;
  font-family: 'Courier New Bold';
  margin: auto;
  width: 20vw;
}

p.cite {
  margin-top: 0;
  padding-top: .5em;
  padding-left: 0;
  color: #8E191C;
  font-weight: bold;
  width: 40vw;
  font-size: 1em;
}

div.takahe-table {
  overflow-x: auto;
}

table.takahe {
  font-family: 'Courier New';
  color: #58595B;
  width: 50vw;
  margin: auto;
  font-size: 1.5em;

}

th#takahe {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

tr#takahe:hover {
  background-color: rgb(89, 89, 89, 0.5)
}

td#takahe {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
}

hr {
  width: 50vw;
  background-color: #58595B;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2em;
  height: 3px;
  border: none;
  opacity: .5;
}

.k {
  background-image: url(../images/brown.jpg);
}

div.map{
  text-align: center;
}

iframe.map {
  width: 50%;
  height: 600px;
  border: none;
}

.m {
  background-image: url(../images/brown.jpg);
}

div.orbell-img {
  text-align: center;
}

.o {
  background-image: url(../images/brown.jpg);
}

.q {
  background-image: url(../images/brown.jpg);
}

.s {
  background-image: url(../images/brown.jpg);
}

.t {

}

ul {
  font-family: 'Courier New';
  color: #58595B;
  text-align: center;
  list-style: none;
  margin-top: 2em;
  font-size: 2em;
  font-weight: normal;
}

span.list {
  font-weight: bold;
}

li {
  padding-bottom: 1.2em;
}

p.facts-cite {
  font-size: 1em;
}

.u {
  background-image: url(../images/brown.jpg);
}

div.info {
  float: left;
}

p.footer {
  font-family: 'Courier New';
  font-weight: bold;
  font-size: 1em;
  color: #8E191C;
  text-align: left;
  margin: 0;
  padding-top: .5em;
}

div.tim {
  margin-right: 3em;
  float:right;
  text-align: right;
  vertical-align: bottom;
  position: relative;
}

p.tim {
  text-align: right;
  font-size: 1.6em;
  padding-bottom: .2em;
  vertical-align: text-bottom;

}

a {
  color: #8E191C;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  opacity: .6;
}

img.social {
  margin-top: .6em;
  width: 1.9em;
}

div.image {
  text-align: center;
  margin-bottom: 2em;
}

img.takahe1 {
  margin: auto;
}

img.snow-camp {
  width: 40vw;
}

img.orbell-img1 {
  width: 40vw;
}

img.te-anau {
  width: 40vw;
  margin-bottom: 3em;
}

img.wing-span {
  width: 40vw;
  margin-bottom: 3em;
}

/*---------------------------------- MOBILE ----------------------------------------------------*/

@media (max-width: 500px) {

html, body {
  overflow-x: hidden;
}

.c {
  display: none;
}

.e {
  display: none;
}

.g {
  display: none;
}

h1 {
  font-size: 5em;
  width: 90vw;
}

h4 {
  font-size: 6em;
}

p {
  width: 80vw;
}

blockquote.subtitle {
  width: 80vw;
}

blockquote {
  width: 80vw;
}

h3 {
  font-size: 5em;
  width: 80vw;
}

img.takahe1 {
  width: 80vw;
}

iframe.map {
  width: 80vw;
}

img.orbell-img {
  width: 80vw;
}

img.snow-camp {
  width: 80vw;
}

p.tim {
  text-align: left;
  margin: 0;
}

div.info {
  padding-left: 1em;
}

}

/*
@media (max-width: 1711px) {

  .c {
    display: none;
  }

  .e {
    display: none;
  }

  .g {
    display: none;
  }
*/
